[phases.setup]
nixPkgs = ["python311", "git", "git-lfs"]

[phases.install]
cmds = [
  "git lfs install",
  "git lfs pull",
  "pip install -r requirements-full.txt"
]

[start]
cmd = "uvicorn main:app --host 0.0.0.0 --port $PORT"
